//colors
$color-brown: #A06B54;
$color-red: red;
$color-whithe: #FEF9EF;
$white: #ffffff;
$black: #000000;
$blackMat: #1c1c1c;
$gray: linear-gradient(125deg, #999797, #999393 81%);
$color-primery: #e6d3c7;
$color-dark-m: #b2b2b2;
$color-dark-s: #cdcdcd;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-3xl: #292929;
//light
$color-light-s: #fafaff;
$color-light-l: #f6f6f6;
$color-light-xl: #ffffff;

//@ width
$content-width: 1280px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-big-width: 426px;
$mobile-medium-width: 376px;
$mobile-small-width: 320px;