.main__title-block {
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.main__logo {
    flex: 0 0 0
}

.reestr__list {
    display: flex;
    flex-direction: column;

}

.reestr-list__title {
    display: flex;
    justify-content: space-between;

}