.news__Wrapper {
    display: flex;
    justify-content: space-between;

}

.news__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 3rem;
    padding: 0rem;
    row-gap: 4rem;
    justify-content: center;
}