.login-form-button {
    width: 100%;
}

.login-form-forgot {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-decoration-line: underline;
    /* Основной/Голубой */

    color: #009CB4;
}