.ant-page-header-heading-title {
    //     font-family: 'Manrope';
    //     font-style: normal;
    //     font-weight: 500;
    //     font-size: 18px;
    //     line-height: 25px;
    //     /* identical to box height */


    //     /* Доп. интерфейс / Текст 1 */

    //     color: #676A71;
}

.avtorithation-page-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    /* identical to box height */


    /* Доп. интерфейс / Текст 1 */

    color: #676A71;
}