.footer__wrapper {
    display: flex;
    flex-direction: column;
    padding: 80px 50px;
    // gap: 10px;
    // justify-content: space-between;

}

.footer__content {
    justify-content: space-between;
}

.footer-text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #676A71;
    flex-direction: column;

}

.footer-block {
    flex-direction: column;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    gap: 10px;

    a {
        color: #4D4D4F;

    }

    /* Основной / Серый */

    color: #4D4D4F;
}

.block-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;


    color: #231F20;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}