@import '~antd/dist/antd.css';
@import './utils/styles/normalize.scss';

@import './utils/styles/base.scss';
@import './utils/styles/mixins.scss';
@import './utils/styles/constants.scss';


.ant-layout {
    padding: 8rem 5rem;
    margin: auto;
    background-color: #fff;
}

.wrapper {
    max-width: $content-width;
    margin: auto;
    padding: 0 6rem;
    background-color: #fff;
}

.header-wrapper {
    background-color: #fff;
    max-height: 8rem;

}





h1 {
    margin: 0
}